# dependencies
node_modules/

# environment files
.env
.env.local
backend/.env

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor stuff
.DS_Store
.vscode/
.idea/

